@model QuestionViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao EurekaMind</h1>
    <form method="post">
        <input type="text" name="question" placeholder="digite aqui sua pergunta" />
        <input type="submit" value="Enviar" />
    </form>

    @if (@Model?.Question != null)
    {
        <br />
        <h3>Você perguntou: @Model.Question</h3>
        <br />
        <br />
        <h4>@Model.Answer</h4>
    }
</div>
