@model QuestionViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-center">Bem vindo ao EurekaMind</h1>
            <form method="post" class="text-center">
                <div class="form-group">
                    <input type="text" name="question" placeholder="digite aqui sua pergunta" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>

            @if (@Model?.Question != null)
            {
                <br />
                <h3 class="text-center">Você perguntou: @Model.Question</h3>
                <br />
                <br />
                <h4 class="text-center">@Model.Answer</h4>
            }
        </div>
    </div>
</div>
